<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="fragment/head :: headFragment"></th:block>
<body>
<div id="index-card" class="card text-white bg-dark mb-3 text-center center-block" style="max-width: 22rem;">
    <div class="card-header">Login</div>
    <div class="card-body">
        <a class="card-title" href="https://kauth.kakao.com/oauth/authorize?client_id=e7112a8c92821f0ac3e6f007b524115f&redirect_uri=http://localhost:8080/login&response_type=code">
            <img src="img/kakao_login_medium_narrow.png" alt="이미지가 없습니다."/>
        </a>
    </div>
</div>
</body>
</html>