<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="fragment/head :: headFragment"></th:block>
<body>
<form class="bg-dark text-white col-md-4">
    <div class="mb-3 col-md-12">
        <label class="form-label"></label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        <button type="submit" class="btn btn-primary">회원가입</button>
    </div>
</body>
</html>