<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.samsan.xcape.dao.HintDAO">

    <select id="getHintList" resultType="com.samsan.xcape.vo.HintVO">
        SELECT
               `seq`,
               `company_name` AS `companyName`,
               `merchant_code` AS `merchant`,
               `theme_code` AS `themeCode`,
               `theme_name` AS `themeName`,
               `key`,
               `message1`,
               `message2`,
               `use`,
               `reg_date` AS `regDate`,
               `mod_date` AS `modDate`
        FROM
             `hint`
        WHERE
              `merchant_code` = #{merchant.merchantCode}
            AND
              `theme_code` = #{themeCode}
            AND
              `use` = 'Y';
    </select>

    <select id="getThemeList" resultType="com.samsan.xcape.vo.ThemeVO">
        SELECT /* getThemeList */
            `seq`,
            `company_name` AS `companyName`,
            `merchant_code` AS `merchant`,
            `theme_code` AS `themeCode`,
            `theme_name` AS `themeName`,
            `reg_date` AS `regDate`,
            `mod_date` AS `modDate`,
            `use`
        FROM
            `theme`
        WHERE
            `merchant_code` = #{merchantCode};
    </select>

    <select id="getMerchantList" resultType="com.samsan.xcape.vo.MerchantVO">
        SELECT
            `seq`,
            `merchant_code` AS `merchant`,
            `reg_date` AS `regDate`,
            `mod_date` AS `modDate`
        FROM
            `merchant`
        ORDER BY
            `merchant_code`;
    </select>

    <insert id="registerHint" parameterType="com.samsan.xcape.vo.HintVO">
        INSERT INTO `hint`(
            `message1`,
            `message2`,
            `theme_code`,
            `theme_name`,
            `key`,
            `merchant_code`
            )
            VALUES(
                #{message1},
                #{message2},
                #{themeCode},
                (
                    SELECT
                        DISTINCT theme_name AS themeName
                    FROM
                        theme
                    WHERE
                        merchant_code = #{merchant.merchantCode}
                        AND
                        theme_code = #{themeCode}
                ),
                #{key},
                #{merchant.merchantCode}
            )
    </insert>

    <update id="modifyMessage">
        UPDATE
            `hint`
        SET
            <if test="message1 != null">
                `message1` = #{message1}
            </if>
            <if test="message2 != null">
                `message2` = #{message2}
            </if>
        WHERE
            `seq` = #{seq};
    </update>

    <update id="deleteHint">
        UPDATE
            `hint`
        SET
            `use` = 'N'
        WHERE
            `seq` = #{seq};
    </update>
    
    <select id="getHintCount" resultType="int">
        SELECT
            count(`key`)
            AS `count`
        FROM
             hint
        WHERE
              `key` = #{key};
    </select>

    <update id="modifyHintCode">
        UPDATE
            `hint`
        SET
            `key` = #{key}
        WHERE
            `seq` = #{seq};
    </update>

</mapper>