<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.samsan.xcape.dao.UserDAO">

    <select id="getUserCount" resultType="int">
        SELECT
            COUNT(`email`)
            AS `count`
        FROM
             `user`
        WHERE
            `email` = #{email};
    </select>

    <insert id="signUp" parameterType="com.samsan.xcape.vo.UserVO">
        INSERT INTO `user`(
            `id`,
            `email`,
            `nickname`,
            `refresh_token`
        )
        VALUE (
            #{id},
            #{email},
            #{nickname},
            #{refreshToken}
        )
    </insert>

    <select id="findUserByEmail" parameterType="com.samsan.xcape.vo.UserVO" resultType="com.samsan.xcape.vo.UserVO">
        SELECT
            `id`,
            `store_name` AS `storeName`,
            `email`,
            `nickname`,
            `refresh_token` AS `refreshToken`,
            `cre_date` AS `creDate`,
            `mod_date` AS `modDate`,
            `role`
        FROM
            `user`
        WHERE
            `email` = #{email};
    </select>

    <update id="registRefreshToken" parameterType="com.samsan.xcape.vo.TokenWithUserIdVO">
        UPDATE
            `user`
        SET
            `refresh_token` = #{refreshToken}
        WHERE
            `id` = #{id};
    </update>
</mapper>